PORT=
DB_URL=
NODE_ENV=

# JWT
JWT_ACCESS_SECRET =
JWT_ACCESS_EXPIRES =
JWT_REFRESH_SECRET =
JWT_REFRESH_EXPIRES =

# Bcrypt
BCRYPT_SALT_ROUND =

# Super Admin Credentials
SUPER_ADMIN_EMAIL =
SUPER_ADMIN_PASSWORD =

# Google
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL =

# Express Session
EXPRESS_SESSION_SECRET =

# Frontend URL
FRONTEND_URL =

# SSLCommerz
SSL_STORE_ID =
SSL_STORE_PASS = 
SSL_PAYMENT_API =
SSL_VALIDATION_API =

# SSLCommerz Frontend URLS
SSL_SUCCESS_FRONTEND_URL =
SSL_FAIL_FRONTEND_URL =
SSL_CANCEL_FRONTEND_URL =

# SSLCommerz Backend URLS
SSL_SUCCESS_BACKEND_URL =
SSL_FAIL_BACKEND_URL =
SSL_CANCEL_BACKEND_URL =
SSL_IPN_URL =

# Cloudinary
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =

# SMTP
SMTP_HOST =
SMTP_PORT = 
SMTP_USER = 
SMTP_PASS = 
SMTP_FROM =

# Redis Settings
REDIS_HOST =
REDIS_PORT = 
REDIS_USERNAME = 
REDIS_PASSWORD = 